
.navbar .navbar-nav .nav-link:hover{
  color: #f7f8ed;
}
body {
font-family: "Montserrat", "Arial";
background-color: white;
text-align: center;
min-height: 100vh;
position: relative;
padding-bottom: 5vh;
}


form#search-bar input,
form#search-bar button,
.btn#dropdownMenuButton{
font-size: 1.3vh;
}


button {
background-color: white;
}


#main-div h4,h5{
  font-family: 'Lora', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

div#facets button {
  font-size: 12px;
}

span#origin {
  color: #5d5c5c;
  font-weight: bold;
}
.topbar {
background-color: #5bc0de;
margin-bottom:20px;
font-weight: 700;
font-size: 12px;
color:white;
text-align: center;
}

.row-book {
border-radius: 10px;
padding:15px 7px;
background-color:white;
margin-bottom:10px;
text-align: left;
border-bottom: solid 1px #7c7c7c;
}

.row-book:hover {
box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
border-color: white;
}


.btn-1 {
cursor: pointer;
letter-spacing: 2px;
height: 30px;
width: 150px;
font-size: 13px;
position: relative;
border: solid #909da3 2px;
color: #5e5c5c;
z-index: 1;
transition: all 0.5s ease-in-out;
border-radius: 7px;
background: transparent;
padding: 0;
}

.btn-1 span {
position: relative;
display: block;
width: 100%;
height: 100%;
padding-top: 3px;
transition: 0.5s ease-in-out;
}

.btn-1:before, .btn-1:after {
position: absolute;
content: "";
right: 0;
bottom: 0;
background: rgb(0, 225, 255);
transition: all 0.5s ease-in-out;
}

.btn-1:before {
height: 0%;
width: 2px;
top: 50%;
}

.btn-1:after {
width: 0%;
height: 2px;
left: 50%;
}

.btn-1:hover:before {
height: 100%;
top: 0%;
background: rgb(155, 112, 33);
}

.btn-1:hover:after {
width: 100%;
left: 0%;
background: rgb(155, 112, 33);
}

.btn-1:hover {
background: transparent;
border-color: transparent;
}

.btn-1 span:hover {
color: rgb(155, 112, 33);
font-weight: 500;
}

.btn-1 span:before, .btn-1 span:after {
position: absolute;
content: "";
left: 0;
top: 0;
background: #333;
transition: all 0.5s ease-in-out;
}

.btn-1 span:before {
width: 2px;
height: 0%;
top: 50%;
}

.btn-1 span:after {
height: 2px;
width: 0%;
left: 50%;
}

.btn-1 span:hover:before {
height: 26px;
top: 0%;
background: rgb(155, 112, 33);
}

.btn-1 span:hover:after {
width: 100%;
left: 0%; 
background: rgb(155, 112, 33);
}

.btn-1:active {
background-color: #cdd8de;
border-color: #00a7fc;
}

.btn-1:active:before, .btn-1:active:after {
background-color: #00a7fc;
}

.btn-1 span:active {
color: #333;
}

.btn-1 span:active:before, .btn-1 span:active:after {
background-color: #00a7fc;
}

.btn-1:focus {
outline: none
}
.btn-1:hover{
border-color:white;
}



.btn-gold, .btn-blue, .btn-white {
background-color: rgb(222, 228, 235);
color: black;
border-radius: 10px;
}

.btn-gold:hover {
background-color: rgb(55, 84, 117);
color: white;
font-size: 15px;
}
.btn-blue:hover {
background-color: rgb(66, 97, 159);
color: white;
font-size: 15px;
}
.btn-white:hover {
background-color: rgb(225, 239, 251);
color: rgb(36, 35, 35);
border-color: #353333;
font-size: 15px;
}
.img-responsive {
margin: 0 auto;
max-height:200px;
}
.row-nav {
margin-bottom: 16px;
text-align: center;
}
.main-content {margin-top: 50px;}

.links{
font-size: 14px;
}
.links:hover {
font-size: 16px;
color: #d49842;
}

h4.title#title{
border-bottom: solid 1px #e19c3a;
width: 80%;
margin-bottom: 10px;
font-size: 22px;
}
.card-footer {
background-color: #111;
padding: 5px 0;
font-size:15px;
width: 100%;
}

/* Estilos personalizados para el botón */
#dropdownMenuButton {
border-radius: 10px;
background-color: rgb(241, 241, 241);
color: #111;
}

/* Estilos personalizados para el menú desplegable */
.dropdown-menu {
font-size: 1.1vh;
background-color: rgb(246, 246, 246);
}

/* Cambiar el color del ícono cuando se presiona */
#dropdownMenuButton:active i {
color: rgb(196, 160, 70);
}


.search-highlight {
background-color: rgb(231, 202, 153);
}


footer {
background-image: linear-gradient(to bottom, #f8f7f6, #e7e7e0);
color: #302f2f;
margin-top: 0.9vh;
padding-top: 1.3vh;
font-size: 1vh;
font-weight: bold;
position: fixed;
width: 100%;
bottom: 0;
}

footer h5 {
color: #4b4343;
font-size: 1.2vh;
margin-bottom: 2px;
font-weight: 600;

}

footer ul {
list-style-type: none;
margin: 0;
padding: 0;
font-family: 'Lora', sans-serif;
}

footer ul li {
margin-bottom: 0.2vh;
}

footer ul li a {
color: #3d3c3ce1;
text-decoration: none;
transition: color .2s ease-in-out;
}

footer ul li a:hover {
color: rgb(184, 159, 93);
}

footer button {
margin-right: 0.9vh;
}



#contact {
border-radius: 1.2vh;
background-color: #25578ad5;
color: #fff;
font-size: 1.1vh;
text-align: center;
font-family: 'Lato', sans-serif;

}

#contact i {
font-size: 0.9vh;
}

#bugs {
border-radius: 1.2vh;
background-color: #7a3b3be1;
color: #fff;
font-size: 1.1vh;
text-align: center;
font-family: 'Lato', sans-serif;

}

#bugs i {
 font-size:10px
}





#sidebar-wrapper {
min-height: 100vh;
margin-left: -15rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.5rem;
}

#sidebar-wrapper .list-group {
width: 24rem;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 10;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}
}
.div-push {
width: 1px;
height: 100vh;
background: rgb(255, 255, 255);
}

.openseadragon-container {
background-color: black !important;
}

.overview-style {
text-align: left;
padding: 1vh;
}

.overview-style .overview-subtitle {
background-color: #f0f0f093;
padding: 0.3vh;
margin-bottom: 0.3vh;
}

.secondary-value{
margin-top: 0.5vh;
}

.regest-style {
color: rgb(53, 52, 52);
white-space: pre-line;
font-family: "Crimson+Text", sans-serif;
text-align: left;
padding: 1vh;
font-size: 1.45vh;
}

.transcription-style {
color: rgb(36, 35, 35);
white-space: pre-line;
font-family: "Raleway", sans-serif;
text-align: left;
font-size: 1.45vh;
padding: 1vh;
font-weight: 500;
}


#overview_options .btn-overview {
background-color: transparent;
color: #343a40;
border-color: #ffffff;
font-size: 1.5vh;
}

#overview_options{
height: 75vh;
overflow: auto;
}
#overview_options .btn-overview:hover,
#overview_options .btn-overview.active {
border-color: rgb(10, 40, 122);
color: rgb(35, 71, 150);
font-family: 'Roboto', sans-serif;
}

#overview_options,
#overview_options_b {
overflow: hidden;
padding-right: 3vh solid transparent;
}

#overview_options_b .btn-overview {
background-color: transparent;
color: #343a40;
border-color: #ffffff;
font-size: 1.5vh;
}

#overview_options_b{
height: 75vh;
overflow: auto;
}
#overview_options_b .btn-overview:hover,
#overview_options_b .btn-overview.active {
border-color: rgb(10, 40, 122);
color: rgb(35, 71, 150);
font-family: 'Roboto', sans-serif;
}



#next, #prev{
font-size: 1.2vh;
align-items: center;
background-color: transparent;
color: white;
border-radius: 50px;
border-color: #1b1b1be5;
}

#next:hover, #prev:hover{
background-color: rgba(22, 67, 190, 0.753);
}

#next:active, #prev:active{
background-color: rgb(43, 11, 117);
}

.main-content-dragon {
padding-bottom: 1.75vh;
}

.image-container-dragon {
height: 75vh;
}

.separation-column {
padding-top: 7.25vh;
background-color: #000000ec;
height: 75vh;

}

@media (min-width: 992px) {
.separation-column {
  max-width: 5%;
  flex: 0 0 5%;
}
}
.text-column {
background-color: #fffdfdef;
}


.small-gutters > [class^="col-"] {
padding-right: 0px;
padding-left: 0px;
border-left: 2px solid rgb(71, 70, 70);
}

.hr-transcription {
margin: 0.25vh;
border-top: 1px solid #b3a25727;
}

#text-content_b {
font-size: 1.4vh;
}

span.line-break{
background-color: white;
font-weight: 600;
text-decoration: underline #2d313d80;
}


.df-switch {
margin-top: 2.2vh;
margin-right: 1.1vh;
padding: 3vh;
text-align: center;
transform: rotate(90deg);
font-family: "Roboto", sans-serif;
}

.btn-toggle {
top: 50%;
transform: translateY(-50%);
margin: 0 8vh;
padding: 0;
position: relative;
border: none;
height: 2.4vh;
width: 7.5vh;
border-radius: 2vh;
color: #6b7381;
background: #0885da;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
line-height: 2vh;
width: 5.6vh;
text-align: center;
font-weight: 600;
font-size: 1.1vh;
text-transform: uppercase;
letter-spacing: 0.17vh;
position: absolute;
bottom: 0;
transition: opacity 0.25s;
}
.btn-toggle:before {
content: 'Overview';
left: -8vh;
color: #9aeefddc;
}
.btn-toggle:after {
content: 'Critical Edition';
right: -7vh;
opacity: 0.5;
color: #f8c75d;
}
.btn-toggle > .inner-handle {
border-radius: 1.2vh;
width: 5.8vh;
height: 1.2vh;
position: absolute;
top: 0.6vh;
left: 0.7vh;
background-color: #5b5daa;
box-shadow: inset 1px 1px 2px -1px black;
}
.btn-toggle.active > .inner-handle {
background-color: #bd8740;
}
.btn-toggle > .handle:before {
content: "";
position: absolute;
height: 3.1vh;
width: 3.1vh;
top: 35%;
left: 1vh;
background-image: radial-gradient(circle at center, #a976d3 5px, transparent 5px);
background-size: 1vh 1vh;
background-repeat: no-repeat;
}
.btn-toggle.active > .handle:before {
background-image: radial-gradient(circle at center, #cca85b 5px, transparent 5px);
}
.btn-toggle > .handle {
position: absolute;
top: -0.45vh;
left: 0.6vh;
width: 3.2vh;
height: 3.2vh;
border-radius: 1.6vh;
background: #fff;
transition: left 0.25s;
border: 1px solid #ccc;
}

.btn-toggle.active > .handle {
left: 3.6vh;
transition: left 0.25s;
}
.btn-toggle.active:before {
opacity: 0.6;
}
.btn-toggle.active:after {
opacity: 1;
color: #976f33;
}
.btn-toggle.active {
transition: background-color 0.25s;
background-color: #f4c772;
}

.d-none {
display: none;
}

.slide {
transition: left 0.25s ease-in-out;
}

/* estilos para la ficha de presentacion */
.flex-container {
display: flex;
}

.main-key {
/* Add styles for the main keys */
}

.secondary-key {
background-color: rgba(236, 234, 234, 0.884);
}

.separator {
border-top: 1px solid #ccc;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.side-by-side-container {
display: flex;
}

.group-container:nth-child(1) {
margin-right: 2vh;
}

/* Elimina el formato estético de las cabeceras del acordeón */
.card-header {
background-color: white;
border: none;
font-size: 0.5vh;
}

.btn-link {
font-size: 1.4vh;
padding: 0;
padding-bottom: 1vh;
}

.card-body, .card-header {
padding: 0;
margin-right: 2vh;
}
/* Cambia el color de las claves principales a negro */
.card-header .btn-link {
color: black;
}
.card {
border: none;
padding-top: -1vh;
padding-bottom: -10vh;
}

.card-search {
padding:1.5vh;
}

.card-subtitle{
font-size: 1.7vh;
padding-top: 0.8vh;
padding-bottom: 0.5vh;
}

.results-list {
/* Add other styles for results-list element */
margin-bottom: 5vh;
}

/* clases para regest */
.regest-title {
text-align: center;
font-size: 1.4vh;
font-family: "Montserrat";
font-weight: bold;
padding: 0.5vh;
}
.regest-tradition {
text-align: left;
font-size: 1.4vh;
font-family: "Montserrat";
padding-top: 2vh;
}


.advanced-search {
font-family: 'Roboto', sans-serif;
font-size: 1.7vh;
}

.advanced-search #scope {
width: 5%;
}

.advanced-search h5 {
font-size: 2vh;
}


.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  
  box-shadow: 1 1 1 1 rgba(0,123,255,0);
}

.modal-content .page-sidebar {
  display: none;
}
.facets-toggleable .facets-collapse {
  display: block !important;
  width: 100%;
}
/* line 32, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facets-toggleable .navbar-toggler {
  display: none;
}

.facets-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.facets-heading {
  line-height: inherit;
}

.facet-limit {
  margin-bottom: 1rem;
}

.facet-limit .card-body {
  padding: 1rem;
}

.facet-values {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;
}

/* line 104, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facet-values li {
  display: table-row;
}

/* line 113, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facet-values .remove {
  color: #6c757d;
  font-weight: bold;
  padding-left: 0.5rem;
  text-decoration: none;
}

/* line 119, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facet-values .remove:hover {
  color: #dc3545;
  text-decoration: none;
}

/* line 132, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facet-values .facet-label {
  display: table-cell;
  padding-right: 1em;
  text-indent: -15px;
  padding-left: 15px;
  padding-bottom: 0.5rem;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}

/* line 141, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facet-values .facet-count {
  display: table-cell;
  vertical-align: top;
  text-align: right;
  width: 5em;
}

/* line 148, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facet-values .facet-checkbox {
  display: table-cell;
  width: 1.25rem;
  vertical-align: top;
}

/* line 154, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facet-values .label-and-count {
  display: table;
  width: 100%;
}

/* line 159, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facet-values .label-and-count label {
  display: table-row;
}

/* line 165, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facet-extended-list .sort-options {
  text-align: right;
}

/* line 169, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facet-extended-list .prev-next-links {
  float: left;
}

/* line 174, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facet-field-heading {
  /* This prevents the contained stretch link from covering the panel body */
  position: relative;
}

/* line 177, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_facets.scss */
.facet-field-heading a {
  color: inherit;
}




/* line 5, app/assets/stylesheets/customOverrides/facets.scss */
a.facet-select {
  color: #966521;
  font-size: 12px;
}

a.facet-select:hover {
  font-size: 14px;
   color: #d49842;
   background-color: white;
 }

/* line 10, app/assets/stylesheets/customOverrides/facets.scss */
div.card {
  margin-bottom: 0px;
  border-color: #111;
}
.p-2 {
  padding: 0.5rem !important;
}
.w-100 {
  width: 100% !important;
}

/* line 14, app/assets/stylesheets/customOverrides/facets.scss */
.facet-count.selected {
  font-size: 12px;
  padding-right: 22px;
  padding-top: 2px;
}

/* line 20, app/assets/stylesheets/customOverrides/facets.scss */
.facet-count {
  width: 9ch !important;
  white-space: nowrap;
  position: relative;
  right: -10px;
}

/* line 27, app/assets/stylesheets/customOverrides/facets.scss */
.facet-count:after {
  content: ')';
}

/* line 31, app/assets/stylesheets/customOverrides/facets.scss */
.facet-count:before {
  content: '(';
}

/* line 35, app/assets/stylesheets/customOverrides/facets.scss */
.facet-field-heading button {
  text-transform: uppercase;
}

/* line 38, app/assets/stylesheets/customOverrides/facets.scss */
.facet-field-heading button.collapsed::after {
  width: 11px;
  height: 8px;
  color: #7b736b;
  content: "^";
  margin-top: 12px;
  transform: rotate(180deg);
  /* Legacy vendor prefixes */
  /* Safari */
  -webkit-transform: rotate(180deg);
  /* Firefox */
  -moz-transform: rotate(180deg);
  /* IE */
  -ms-transform: rotate(180deg);
  /* Opera */
  -o-transform: rotate(180deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

/* line 58, app/assets/stylesheets/customOverrides/facets.scss */
.facet-field-heading button[aria-expanded="true"]::after {
  width: 11px;
  height: 8px;
  color: #7b736b;
  content: "^";
  transform: rotate(0deg);
  /* Legacy vendor prefixes */
  /* Safari */
  -webkit-transform: rotate(0deg);
  /* Firefox */
  -moz-transform: rotate(0deg);
  /* IE */
  -ms-transform: rotate(0deg);
  /* Opera */
  -o-transform: rotate(0deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

/* line 77, app/assets/stylesheets/customOverrides/facets.scss */
.facet-limit .card-body {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 40px;
}

/* line 82, app/assets/stylesheets/customOverrides/facets.scss */
#facet-panel-collapse {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.69;
}

/* line 87, app/assets/stylesheets/customOverrides/facets.scss */
.facet-values .facet-label {
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

/* line 93, app/assets/stylesheets/customOverrides/facets.scss */
.facet-values .facet-count {
  font-size: 12px;
  color: #7b736b;
}

/* line 98, app/assets/stylesheets/customOverrides/facets.scss */
.facet-values .selected {
  font-size: 12px;
  font-weight: 500;
}

/* line 103, app/assets/stylesheets/customOverrides/facets.scss */
#facets .range-limit-input-group .btn {
  margin-left: 10px;
}

/* line 107, app/assets/stylesheets/customOverrides/facets.scss */
#facets .facet-field-heading .btn {
  border-top: 1px solid #dddddd !important;
}

/* line 111, app/assets/stylesheets/customOverrides/facets.scss */
h2.facets-heading {
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.71;
  padding-left: 20px;
}

/* line 118, app/assets/stylesheets/customOverrides/facets.scss */
#facets .remove {
  position: absolute;
  right: 6px;
  z-index: 10;
}

/* line 124, app/assets/stylesheets/customOverrides/facets.scss */
#facets .range-limit-input-group input {
  padding: 0 0.25px 0 0.25px;
}

/* line 128, app/assets/stylesheets/customOverrides/facets.scss */
.more_facets a {
  font-size: 12px;
  margin-left: -5px;
  color: #c6a537;
  text-transform: capitalize;
}



#facets .facet-field-heading .btn {
  border-top: 1px solid #7b736b;
  color: #7b736b;
  padding-top: 1.25rem !important;
}


/* line 59, app/assets/stylesheets/customOverrides/main.scss */
#facet-panel-collapse .card {
  border: none;
  border-radius: 0;
}

/* line 64, app/assets/stylesheets/customOverrides/main.scss */
.facets-heading {
  text-transform: uppercase;
  color: #66605c;
  font-size: 1rem;
}

.facet-field-heading button {
  font-weight: 600;
}

/* line 12, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_bootstrap_overrides.scss */
.facet-field-heading button::after {
  content: "❯";
  float: right;
  transform: rotate(90deg);
}

/* line 18, ../../../usr/local/rvm/gems/ruby-2.7.7/gems/blacklight-7.33.0/app/assets/stylesheets/blacklight/_bootstrap_overrides.scss */
.facet-field-heading button.collapsed {
  border-bottom: 0;
}
